{% include header.html %}
<section id='profile'>
    <h1>{{ person.name }}</h1>
    <ul id="friends-list">
        {% for f in person.friends %}
            {% let name = f.name.title() %}
            <li class="friend{% if forloop.first %} first{% end if %}{% if forloop.last %} last{% end if %}">
                {{ name }} {{ f.age }} {% if f.gender == 'M' %}Male{% else %}Female{% end if %}
            </li>
        {% end for %}
    </ul>
</section>

{% include footer.html %}